<!DOCTYPE html>
<html manifest='cache.manifest'>
    <head>
        <title>Snooze</title>
        <link rel="apple-touch-icon" href="img/logo.png"/>  
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel='stylesheet' href='icons/css/font-awesome.css'>
        <link rel='stylesheet' href='styles.css'>
    </head>
    <body>
        <div id='app'>
            <div id='items'>
            </div>
            <div id='new'>
                <form id='form' onsubmit="return false;">
                    <input type='text' placeholder='Description' id='newDescription' />
                    <br/>
                    <select id='newInterval'>
                        <option value='1'>Every Day</option>
                        <option value='2'>Every Other Day</option>
                        <option value='7'>Every Week</option>
                        <option value='14'>Every Other Week</option>
                        <option value='30' selected='true'>Every Month</option>
                        <option value='60'>Every Other Month</option>
                    </select>
                    <button id='newAdd'><i class='icon-plus'></i> Add</button>
                </form>
                <div id='debugInformation' style='display: none'>
                    <table>
                        <tr><td>Snooze Version:</td><td id='debugVersion'>?</td></tr>
                        <tr><td>Commit Date:</td><td id='debugDate'>?</td></tr>
                        <tr><td>Number of Items:</td><td id='debugNumItems'>?</td></tr>
                        <tr><td>Items Size:</td><td id='debugItemsSize'>?</td></tr>
                        <tr><td>Items Last Saved:</td><td id='debugLastSave'>?</td></tr>
                        <tr><td>ID:</td><td id='debugUid'>?</td></tr>
                        <tr><td>Last Backup:</td><td id='debugLastCloudSave'>?</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div id='addToHomeScreen' style='display: none'>
            <h1>Hi!</h1>
            <p>
            This app needs to run from the home screen
            in order to correctly utilize local storage and
            provide an optimal user experience.
            </p>
            <p>
            To install the app, press
            the <i class='icon-share'></i> button and select
            "Add to Home Screen". You can then start Snooze from the
            icon on your home screen.
            </p>
        </div>
    </body>
    <script type='text/javascript' src='lib/jquery-1.7.1.min.js'></script>
    <script type='text/javascript' src='lib/moment-1.4.0.min.js'></script>
    <script type='text/javascript' src='lib/shake.js'></script>
    <script type='text/javascript' src='lib/underscore-1.3.1.min.js'></script>
    <script type='text/javascript' src='lib/uuid.js'></script>
    <script type='text/javascript' src='app.js'></script>
    <script type='text/javascript' src='deploydata.js'></script>
    <script type='text/html' id='item-template'>
        <div class='item <%= item_class %>'>
            <div class='index'><%= index %></div>
            <li class='description <%= descr_class %> <%= check_class %>'><%- description %></li>
            <div class='extra'>
                <div class='when'><%= extra %></div>
                <button data-id='<%= id %>' class='button-done'><i class='icon-check'></i> Mark as Done</button>
                <button data-id='<%= id %>' class='button-delete'><i class='icon-trash'></i> Delete</button>
            </div>
        </div>
    </script>
    <script type='text/html' id='moreItems-template'>
        <div class='item'>
            <li class='description icon-refresh'>Show <%= items %> more items</li>
        </div>
    </script>
</html>
