@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    margin: 0;
  }
}
@media only screen and (min-device-width: 481px) {
  #app {
    max-width: 480px;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
}
.item {
  font-size: 18pt;
}
html {
  background: #444;
}
body,
button,
input,
select {
  font-size: 12pt;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.4;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #fff;
}
#app {
  background-color: #aabbcc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#aabbcc), color-stop(25%, #aabbcc), to(#556677));
  background-image: -webkit-linear-gradient(#aabbcc, #aabbcc 25%, #556677);
  background-image: -moz-linear-gradient(top, #aabbcc, #aabbcc 25%, #556677);
  background-image: -ms-linear-gradient(#aabbcc, #aabbcc 25%, #556677);
  background-image: -o-linear-gradient(#aabbcc, #aabbcc 25%, #556677);
  background-image: linear-gradient(#aabbcc, #aabbcc 25%, #556677);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  -webkit-box-shadow: 0px 0px 10px #000000;
}
.expanded {
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), color-stop(25%, #cccccc), to(#aaaaaa));
  background-image: -webkit-linear-gradient(#cccccc, #cccccc 25%, #aaaaaa);
  background-image: -moz-linear-gradient(top, #cccccc, #cccccc 25%, #aaaaaa);
  background-image: -ms-linear-gradient(#cccccc, #cccccc 25%, #aaaaaa);
  background-image: -o-linear-gradient(#cccccc, #cccccc 25%, #aaaaaa);
  background-image: linear-gradient(#cccccc, #cccccc 25%, #aaaaaa);
  background-repeat: no-repeat;
  box-shadow: 0px 0px 8px #000000;
  -moz-box-shadow: 0px 0px 8px #000000;
  -webkit-box-shadow: 0px 0px 8px #000000;
}
#items,
#new {
  width: 100%;
}
#new input {
  width: 90%;
}
#new button,
#new select {
  margin-left: 10px;
}
#form {
  text-align: center;
}
.item,
#form {
  padding: .5em .2em .5em .25em;
}
.item {
  position: relative;
  color: #fff;
  overflow: hidden;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.item .index {
  position: absolute;
  z-index: 0;
  font-size: 100px;
  right: -12px;
  top: -42px;
  font-weight: bold;
  opacity: 0.3;
}
.item .description {
  padding-left: 2em;
  position: relative;
  z-index: 10;
}
.item .when {
  padding-left: 12px;
  position: relative;
  z-index: 10;
  font-size: 80%;
  opacity: 0.8;
}
button {
  font-weight: bold;
  margin: 10px;
  min-width: 100px;
  min-height: 30px;
  display: inline-block;
  padding: 4px 10px 4px;
  color: #222222;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid #666;
  border-bottom-color: #333;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), color-stop(25%, #eeeeee), to(#cccccc));
  background-image: -webkit-linear-gradient(#eeeeee, #eeeeee 25%, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #eeeeee 25%, #cccccc);
  background-image: -ms-linear-gradient(#eeeeee, #eeeeee 25%, #cccccc);
  background-image: -o-linear-gradient(#eeeeee, #eeeeee 25%, #cccccc);
  background-image: linear-gradient(#eeeeee, #eeeeee 25%, #cccccc);
  background-repeat: no-repeat;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}
select {
  background-color: #eeeeee;
}
.button-delete {
  float: right;
}
.item .extra {
  display: none;
  overflow: hidden;
}
.expanded .extra {
  display: block;
}
#addToHomeScreen {
  background: #666;
  padding: 2em;
  height: 100%;
}
#debugInformation {
  padding: 1em;
  font-size: 70%;
}
